.animate-charcter {
  background-image: linear-gradient(
    -225deg,
    #dc2626,
    #ea580c,
    #f97316,
    #f59e0b,
    #ea580c
  );

  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
